<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>LTE-M 비밀번호 변경</title>
    <link href="<%= server_url %>/img/amtel_icon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Custom styles for this template -->
    <link href="<%=server_url %>/public/css/login/form_change_password.css" rel="stylesheet">

    <!-- common css include -->
    <%- include('../include_css.ejs') %>

  </head>
  <body>
    <div id="wrapper">
        <%- include("../nav.ejs") %>
        <div id="contents_space">
          <div id="login_box">
              <img src="<%= server_url %>/img/amtel.png">
              <h1 style="margin-top:20px;font-size:3em;font-weight:bold;" >비밀번호 변경</h1>
              <div>
                  <form action="<%= server_url %>/change_password" onsubmit="return password_chk();" method="post">
                    <input type="hidden" name="user_id" value="<%= user_id %>" />
                    <table id="input_table">
                      <tr>
                        <th>기존 비밀번호</th>
                        <td><input type="password" placeholder="now_pw" name="user_now_pw" id="user_now_pw" required /></td>
                      </tr>
                      <tr>
                        <th>새로운 비밀번호</th>
                        <td><input type="password" placeholder="new_pw" name="user_new_pw" id="user_new_pw" required /></td>
                      </tr>
                      <tr>
                        <th>비밀번호 확인</th>
                        <td><input type="password" placeholder="new_pw_chk" name="user_new_pw_chk" id="user_new_pw_chk" required /></td>
                      </tr>
                      <tr>
                        <td colspan="2"><input type="submit" id="submit_btn" class="btn btn-success" value="변경" /></td>
                      </tr>
                    </table>
                  </form>
              </div>
            </div>
        </div>
        <%- include("../footer.ejs") %>
    </div>
  </body>

  <!-- common script include -->
  <%- include('../include_script.ejs') %>

  <script>
    function password_chk(){
      let password = $("#user_new_pw").val();
      let password_chk = $("#user_new_pw_chk").val();

      if(password == password_chk){
        return true;
      } else {
        alert("비밀번호와 확인이 일치하지 않습니다.");
        return false;
      }

    }
  </script>
</html>