<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>LTE-M 수정 전 계약</title>
    <link href="<%= server_url %>/img/amtel_icon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- common css include -->
    <%- include('../include_css.ejs') %>
    <!-- Custom styles for this template -->
    <link href="<%= server_url %>/public/css/contract/show_lte_contract.css" rel="stylesheet">

  </head>
  <body>
    <div id="wrapper">
      <%- include('../nav.ejs') %>
      <div id="contents_space">
        <h2>
          <img src="<%= server_url %>/img/amtel.png" style="height:80px;" /><%= contract_before_idx_list.modify_user %>가 <%= contract_before_idx_list.origin_modDate %>에 수정한 기록<span class="float_right" >
          <span class="float_right" >
            <div class="dropdown" style="float:right;margin-right:10px;">
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#"><%= user_id %></a></li>
                  <li style="background-color:lightcoral;"><a class="dropdown-item" href="<%= server_url %>/logout" style="color:white;font-weight:bold;">로그아웃</a></li>
              </ul>
            </div>
          </span>
        </h2>
          <table id="top_table" class="table table-bordered ">
            <tr>
              <th>통신망</th>
              <td>
                <input type="text" class="full_space_inputbox" value="<%= c_network_data[0].network %>" />
              </td>
              <th>계약구분</th>
              <td>
                <input type="text" class="full_space_inputbox" value="<%= c_network_data[0].contract_type %>" />
              </td>
            </tr>
            <tr>
              <th>업무구분</th>
              <td>
                <input type="text" class="full_space_inputbox" value="<%= c_network_data[0].contract_work %>" />
              </td>
              <th>계통방법</th>
              <td>
                <input type="text" class="full_space_inputbox" value="<%= c_network_data[0].open_tel_type %>" />
              </td>
            </tr>
            <tr>
              <th>고객구분</th>
              <td>
                <input type="text" class="full_space_inputbox" value="<%= c_network_data[0].customer_type %>" />
              </td>
              <th>방문고객</th>
              <td>
                <input type="text" class="full_space_inputbox" value="<%= c_network_data[0].visit_customer %>" />
              </td>
            </tr>
          </table>

          <table class="table table-bordered table_second">
            <tr>
              <td colspan="2"><span class="float_left">단월구입비</span><br><span class="float_right">할부 <input type="text" name="installments" value="<%= terminal_purchase_data[0].installments %>" > 개월</span></td>
            </tr>
            <tr>
              <th>출고가</th>
              <td><span class="float_right"><input type="text" name="table_second_startPrice" value="<%= terminal_purchase_data[0].initial_price %>"> 원</span></td>
            </tr>
            <tr>
              <th rowspan="2">단말할인</th>
              <td><span class="float_left">지원금</span><br><span class="float_right"><input type="text" name="table_second_supportPrice" value="<%= terminal_purchase_data[0].discount_support %>"> 원</span></td>
            </tr>
            <tr>
              <td><span class="float_left">현금지원가</span><br><span class="float_right"><input type="text" name="table_second_supportPrice_money" value="<%= terminal_purchase_data[0].discount_cash_price %>"> 원</span></td>
            </tr>
            <tr>
              <th>할부원금</th>
              <td><span class="float_right"><input type="text" name="table_second_installments_origin" value="<%= terminal_purchase_data[0].installments_origin %>"> 원</span></td>
            </tr>
            <tr>
              <th>위약금</th>
              <td><span class="float_right"><input type="text" name="table_second_unpairPrice" value="<%= terminal_purchase_data[0].unpair_price %>"> 원</span></td>
            </tr>
          </table>

          <table class="table table-bordered table_second">
            <tr>
              <td colspan="2"><span class="float_left">회선당 통신요금</span><br><span class="float_right"><span class="float_right"><input type="text" name="line_use_price" value="<%= c_line_usePrice_data[0].line_price %>"> *부가세 포함</span></td>
            </tr>
            <tr>
              <th>요금제</th>
              <td><input type="text" class="full_space_inputbox" name="table_second_price_model_name" value="<%= c_line_usePrice_data[0].use_type %>" ></td>
            </tr>
            <tr>
              <th>기본료</th>
              <td><span class="float_right"><input type="text" name="table_second_nomalPrice" value="<%= c_line_usePrice_data[0].nomal_price %>"> 원</span></td>
            </tr>
            <tr>
              <th>요금 할인</th>
              <td><span class="float_right"><input type="text" name="table_second_discount_type" value="<%= c_line_usePrice_data[0].discount_type %>"> 할인</span><br><br><span class="float_right"><input type="text" name="table_second_discount" value="<%= c_line_usePrice_data[0].discount %>"> 원</span></td>
            </tr>
            <tr>
              <th>월 요금</th>
              <td><span class="float_right"><input type="text" name="table_second_monthPrice" value="<%= c_line_usePrice_data[0].monthly_price %>"> 원</span></td>
            </tr>
            <tr>
              <th>약정기간</th>
              <td><span class="float_right"><input type="text" name="table_second_contactPeriod" value="<%= c_line_usePrice_data[0].contract_period %>"> 개월</span></td>
            </tr>
          </table>

          <table class="table table-bordered table_second" id="table_second_lastChild">
            <tr>
              <td colspan="2"><span class="float_left">월 납부액</span><br><span class="float_right" ><input type="text" name="month_price" value="<%= monthly_price_data[0].repeat_monthly_price %>"> *부가세 포함</span></td>
            </tr>
            <tr>
              <th>단말 구입비<br><span style="font-size:0.7em;color:gray">(할부이자포함)</span></th>
              <td><span class="float_right"><input type="text" name="table_second_terminal_price" value="<%= monthly_price_data[0].terminal_price %>">&nbsp;원</span></td>
            </tr>
            <tr>
              <th>통신요금<br><span style="font-size:0.7em;color:gray">(기본료-총요금할인)</span></th>
              <td><span class="float_right"><input type="text" name="table_second_comuPrice" value="<%= monthly_price_data[0].comunication_price %>">&nbsp;원</span></td>
            </tr>
            <tr>
              <th>부가서비스</th>
              <td><span class="float_right"><input type="text" name="table_second_addPrice" value="<%= monthly_price_data[0].other_service_price %>">&nbsp;원</span></td>
            </tr>
            <tr>
              <th>합계<br><span style="font-size:0.7em;color:gray">(기본료-총요금할인)</span></th>
              <td><span class="float_right"><input type="text" name="table_second_totalPrice" value="<%= monthly_price_data[0].total_price %>">&nbsp;원</span></td>
            </tr>
            <tr>
              <th>추가 지원금</th>
              <td><span class="float_right"><input type="text" name="table_second_plusSupportPrice" value="<%= monthly_price_data[0].after_support_price %>">&nbsp;원</span></td>
            </tr>
            <tr>
              <th>총 월 납부액</th>
              <td><span class="float_right"><input type="text" name="table_second_total_monthlyPrice" value="<%= monthly_price_data[0].total_monthly_price %>">&nbsp;원</span></td>
            </tr>
          </table>
          <p id="table_second_footer"><span class="gray_font">* 위약금 = 지원금 x [약정잔여기간/약정기간(일)]<br>* 단말 할부원금에는 연 5.5%의 할부이자가 부가됩니다</span></p>

          <div class="table_box">
            <!-- <div class="left_title" style="height:100px;line-height:20px;background-color:cornflowerblue;">고객정보</div> -->
            <table  class="table table-bordered over_third_table" id="third_table" >
              <tr>
                <th rowspan="4" style="text-align: center;">고객정보</th>
                <th><span style="color:red;">*</span> 고객명(법인명)</th>
                <td><input type="text" class="full_space_inputbox" name="customer_name" value="<%= customer_detail_data[0].customer_name %>" required></td>
                <th><span style="color:red;">*</span> 생년월일</th>
                <td><input type="text" class="full_space_inputbox" name="customer_birth" value="<%= customer_detail_data[0].birth %>" required></td>
                <th><span style="color:red;">*</span> 성별</th>
                <td><input type="text" class="full_space_inputbox"  name="customer_gender" value="<%= customer_detail_data[0].gender %>" required></td>
              </tr>
              <tr>
                <th><span style="color:red;">*</span> 연락처</th>
                <td><input type="text" class="full_space_inputbox" name="customer_phone_num" value="<%= customer_detail_data[0].tel %>" required></td>
                <th>법인번호</th>
                <td><input type="text" class="full_space_inputbox" name="customer_company_num" value="<%= customer_detail_data[0].coperation_num %>"></td>
                <th>E-mail</th>
                <td><input type="text" class="full_space_inputbox" name="customer_mail" value="<%= customer_detail_data[0].email %>"></td>
              </tr>
              <tr>
                <th><span style="color:red;">*</span> 주소</th>
                <td colspan="5"><input type="text" class="full_space_inputbox" name="customer_address" value="<%= customer_detail_data[0].address %>" required></td>
              </tr>
              <tr>
                <th><span style="color:red;">*</span> 청구서종류</th>
                <td colspan="5">
                  <input type="text" id="bill_variation" class="full_space_inputbox" />
                </td>
              </tr>
            </table>
          </div>

          <div class="table_box">
            <table class="table table-bordered over_third_table" id="forth_table">
              <tr>
                <th rowspan="4">청구정보</th>
                <th>자동납부</th>
                <td colspan="2">
                  <input type="text" class="auto_payment full_space_inputbox" name="auto_payment" id="auto_payment" value="" />
                </td>
              </tr>
              <tr>
                <th><span style="color:red;">*</span> 은행/계좌/카드번호</th>
                <td colspan="2">
                  <span class="float_left" style="font-weight:bold;">(은행/카드사명)&nbsp;<input type="text" style="width:200px;" name="auto_payment_finance_name" value="<%= payment_detail_data[0].finance_name %>" required ></span>
                  <span class="float_right" style="font-weight:bold;">(계좌/카드번호)&nbsp;<input type="text" style="width:200px;" name="auto_payment_finance_num" value="<%= payment_detail_data[0].wallet_num %>"  required ></span>
                </td>
              </tr>
              <tr>
                <th><span style="color:red;">*</span> 예금(카드)주 정보</th>
                <td colspan="2">
                  <span class="float_right" style="font-weight:bold;">(생년월일)&nbsp;<input type="text" style="width:10vw;" name="finance_master_birth" value="<%= payment_detail_data[0].auto_payment_user_birth %>"  required >&nbsp;&nbsp;(성명)<input type="text" style="width:10vw;" name="finance_master_name" value="<%= payment_detail_data[0].auto_payment_user_name %>"  required ></span><br><br>
                  <span class="float_right" style="font-weight:bold;">(유효기간)&nbsp;<input type="text" style="width:10vw;" name="finance_master_valid" value="<%= payment_detail_data[0].auto_payment_user_period %>"  required >&ensp;(가입자와의 관계)&nbsp;<input type="text" style="width:10vw;" name="finance_master_relation" value="<%= payment_detail_data[0].user_relation %>"  required ></span>
                </td>
              </tr>
              <tr>
                <th>타인납부 동의</th>
                <td><input type="text" name="auto_payment_other_peaple_chk" id="auto_payment_other_peaple_chk" value="<%= payment_detail_data[0].auto_payment_agree %>" /><br><span style="line-height:10px;color:gray;" class="gray_font">(예금 또는 카드주)은 납부 하여야 할 요금에 대해 별도의 통지 없이 위의 본인의 (카드번호)에서 지정된 출금(결제)일에 인출(결제)되는 것에 동의 합니다.</span></td>
                <td style="width:300px;background-color:dodgerblue;font-size:1.3em;font-weight:bold;">&ensp;<span style="color:red;">*</span>신청고객 : <input type="text" name="request_name" value="<%= payment_detail_data[0].request_user_name %>"  required></td>
              </tr>
            </table>
          </div>

          <div class="table_box">
            <table class="table table-bordered over_third_table" id="fifth_table" style="height:200px;">
              <tr>
                <th rowspan="4">신청정보</th>
                <th>가입 서비스명</th>
                <td colspan="4">
                  <span><input type="text" name="join_service_variation" id="join_service_variation_mini" value="<%= service_detail_data[0].service_name %>" /></span>
                </td>
              </tr>
              <tr>
                <th>월 요금</th>
                <td colspan="4">
                  <span></spa><input type="text" name="fifth_table_monthly_price" style="width:200px;" value="<%= service_detail_data[0].monthly_price %>" />&nbsp;원</span>
                </td>
              </tr>
              <tr>
                <th>가입비</th>
                <td colspan="4">
                  <span><input type="text" name="join_price" style="width:200px;" value="<%= service_detail_data[0].join_fee %>" >&nbsp;원</span>&emsp13;
                  <span><input type="text" name="join_price_variation" id="join_price_variation_now" value="<%= service_detail_data[0].join_fee_type %>" /></span>
                </td>
              </tr>
              <tr>
                <th>단말기모델명</th>
                <td><input type="text" name="single_model_name" class="full_space_inputbox"  value="<%= service_detail_data[0].terminal_model_name %>" /></td>
                <th>단말 일련번호 / IMEI</th>
                <td colspan="2"><input type="text" name="terminal_num_or_IMEI" class="full_space_inputbox"  value="<%= service_detail_data[0].terminal_no_or_IMEI %>" /></td>
              </tr>
              <tr>
                <th>USIM 모델명</th>
                <td colspan="2"><input type="text" name="USIM_model_name" class="full_space_inputbox" value="<%= service_detail_data[0].usim_model_name %>" /></td>
                <th>USIM 일련번호</th>
                <td><input type="text" name="USIM_num" class="full_space_inputbox"  value="<%= service_detail_data[0].usim_no %>" /></td>
              </tr>
              <tr>
                <th>USIM 비용</th>
                <td colspan="2">
                  <span><input type="text" name="USIM_price" style="width:200px;" value="<%= service_detail_data[0].usim_price %>" />&nbsp;원</span>
                  <span><input type="text" name="USIM_price_variation" id="USIM_price_variation" value="<%= service_detail_data[0].usim_price_payment_type %>" /></span>
                </td>
                <th>가입 이동전화번호</th>
                <td colspan="2"><input type="text" class="full_space_inputbox" name="join_phone_num" value="<%= service_detail_data[0].join_tel %>" /></td>
              </tr>
            </table>
          </div>

          <div class="table_box">
            <table class="table table-bordered over_third_table" id="sixth_table">
              <tr>
                <th rowspan="4">비고</th>
                <th>영업담당자</th>
                <td><input type="text" class="full_space_inputbox" name="sales_people_name" value="<%= other_information_data[0].main_manager %>" /></td>
                <th>대리점명</th>
                <td><input type="text" class="full_space_inputbox" name="sales_store_name" value="<%= other_information_data[0].contract_store %>" /></td>
              </tr>
              <tr>
                <th>선박번호</th>
                <td><input type="text" class="full_space_inputbox" name="ship_num" value="<%= other_information_data[0].ship_no %>"></td>
                <th>선박명</th>
                <td><input type="text" class="full_space_inputbox" name="ship_name" value="<%= other_information_data[0].ship_name %>"></td>
              </tr>
              <tr rowspan="2">
                <td colspan="4" style="padding-left:10px;height:100px;"><%= other_information_data[0].note %></td>
              </tr>
            </table>
          </div>

          <div class="table_box">
            <!-- <div class="left_title" style="height:100px;line-height:20px;background-color:cornflowerblue;">고객정보</div> -->
            <table  class="table table-bordered over_third_table" id="third_table" >
              <tr>
                <th rowspan="4" style="text-align: center;">현장작성상세</th>
                <th><span style="color:red;">*</span> 신청일</th>
                <td colspan="3"><input type="text" class="full_space_inputbox" name="real_write_contract_date" value="<%= applicant_detail_data[0].real_write_contract_date %>" required></td>
                <th><span style="color:red;">*</span> 신청자(대리인)</th>
                <td><input type="text" class="full_space_inputbox" name="applicant_name" value="<%= applicant_detail_data[0].applicant_name %>" required></td>
              </tr>
              <tr>
                <th>신청접수점</th>
                <td><input type="text" class="full_space_inputbox" name="applicant_store" value="<%= applicant_detail_data[0].applicant_store %>" /></td>
                <th>판매자</th>
                <td><input type="text" class="full_space_inputbox" name="applicant_sales_man_name" value="<%= applicant_detail_data[0].applicant_sales_man_name %>"></td>
                <th>연락처</th>
                <td><input type="text" class="full_space_inputbox" name="applicant_store_call_number" value="<%= applicant_detail_data[0].applicant_store_call_number %>"></td>
              </tr>
            </table>
          </div>

          <div class="table_box">
            <table class="table table-bordered over_third_table" id="third_table">
              <tr>
                <th>첨부</th>
                <td>
                  <% attached_file_data.forEach(function(row) { %>
                    <a href="<%= row.file_dir %>/<%= row.file_name %>" style="color:cornflowerblue;" ><%= row.file_name %>&emsp;&emsp;&emsp;&emsp;&emsp;<%= row.file_size %> MB</a><br>
                  <% }) %>
                  <% if(attached_file_data.length<1){%>
                    <span>첨부없음</span>
                  <%}%>
                </td>
              </tr>
            </table>
          </div>
      </div>
      <%- include("../footer.ejs") %>
    </div>
  </body>

  <!-- common script include -->
  <%- include('../include_script.ejs') %>

  <script>
    window.onload = function(){
      $('input').attr('autocomplete','off');
      $('input').attr('disabled','on');
      bill_variation_chk();
      auto_payment_chk();
    }

    function bill_variation_chk(){
      let bill_variation_chk = false;
      let bill_type = "<%= customer_detail_data[0].bill_type %>";
      let chk_count = 0;

      if(bill_type.indexOf('mail')>0){
        $('#bill_variation').val('E-mail');
        chk_count = 1;
      } 

      if(bill_type.indexOf('message')>0){
        if(chk_count == 0){
          $('#bill_variation').val('문자');
          chk_count = 1;
        } else {
          $('#bill_variation').val($('#bill_variation').val()+', 문자');
        }
      } 

      if(bill_type.indexOf('alram')>0){
        if(chk_count == 0){
          $('#bill_variation').val('알림톡');
          chk_count = 1;
        } else {
          $('#bill_variation').val($('#bill_variation').val()+', 알림톡');
        }
      } 

      if(bill_type.indexOf('post')>0){
        if(chk_count == 0){
          $('#bill_variation').val('우편');
          chk_count = 1;
        } else {
          $('#bill_variation').val($('#bill_variation').val()+', 우편');
        }
      }
    }

    function auto_payment_chk(){
      let auto_payment_chk = "<%= payment_detail_data[0].auto_payment %>";
      let auto_payment_result;
      if(auto_payment_chk == "ok"){
        $('#auto_payment').val("<%= payment_detail_data[0].auto_payment_type %>");
      } else {
        $('#auto_payment').val("신청안함");
      }
    }

    $('#contract_delete').click(function(){
      let confirm_result = confirm("정말로 이 계약서를 지우시겠습니까?");
      if(confirm_result){
        location.replace("<%= server_url %>/delete_lte_contract?main_idx=<%= main_idx %>");
      }
    });
  </script>
</html>